<div class="container pt-5">
  <hr>
<footer id="footer" class="footer py-5">
  <nav aria-label="Pied de page">
    <ul class="list-unstyled">
      <li><a href="/2025/qui-suis-je/">Qui suis-je&nbsp;?</a></li>
      <li><a href="/2025/mentions/">Mentions légales</a></li>
      <li><a href="/2025/plan/">Plan du site</a></li>
      <li><a href="/2025/accessibilite/">Accessibilité | Qualité web | Éco-conception</a></li>
      <li><a href="/feed.xml">Flux <abbr title="Really Simple Syndication" lang="en">RSS</abbr></a></li>
      <li><a href="/">← Nouvelle version du site</a></li>
    </ul>
  </nav>
  <p><a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/fr/">CC BY-SA 3.0 FR - {% year %}</a></p>
</footer>
  </div>


<script defer src="/js/recherche.js"></script>

