<div class="container pt-5"> 
  <hr>
<footer id="footer" class="footer py-5"> 

  <p><a href="/qui-suis-je/">Qui suis je&nbsp;?</a> 
    <a href="/mentions/" class="spip_in">Mentions légales</a> 
    <a href="/plan/">Plan du site</a> 
    <a href="/accessibilite/">Accessibilité | Qualité web | Éco-conception</a> 
    <a href="/rss/">Flux RSS</a> <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/fr/">CC BY-SA 3.0 FR - {% year %} </a></p>
        
</footer>
  </div>


