<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="keywords" lang="fr" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="revisit-after" content="1">
<meta name="geo.country" content="fr"/>

<link rel="stylesheet" href="{{ '/css/oxymore.css' }}">
<link rel="stylesheet" href="{{ '/css/bootstrap.min.css' }}">

<script defer src="{{ '/js/script.js' }}"></script>
<script defer src="{{ '/js/bootstrap.bundle.min.js' }}"></script>
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">

<link rel="icon" type="image/png" href="{{ '/favicon-96x96.png' | url }}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | url }}" />
<link rel="shortcut icon" href="{{ '/favicon.ico' | url }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}" />
<meta name="apple-mobile-web-app-title" content="Oxymore" />
<link rel="manifest" href="{{ '/site.webmanifest' | url }}" />

<link rel="alternate" type="application/rss+xml" title="Oxymore - Jean-Philippe Simonnet" href="/feed.xml">