<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{title }}</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Test journal</h1>
    <h2>{{ name }}</h2>

    <hr>
    <p class="text-end"> Mis en ligne le {{date}}  </p>
{{content | safe }}

<ul>
    {%- for post in collections.all -%}
    <li{% if page.url == post.url %} aria-current="page"{% endif %}><a href="{{ post.url }}">{{ post.url }}</a></li>
    {%- endfor -%}
    </ul>

    {% include "footer.njk" %}

</body>
</html> 