<!doctype html>
<html lang="fr" data-bs-theme="light">
    <head>
      <title>{{ site.title }} - {{ title or meta.title }}</title>
       {% include "meta.njk" %}
      </head>
<body>
  <div class="container" >


      {% include "header.njk" %}

  <main id="main" data-pagefind-body>
    <div class="container py-4">
      <div id="content" class="col-lg-9 mx-auto my-5">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/lectures/">Mes dernieres lectures</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>

        <h1>{{ title or meta.title }}</h1>

<hr class="my-5">

        <div class="row">

        <div class="col-lg-6 col-12 mr-5">

                  <h2>{{ auteur | safe }}</h2>

        <p class=""> Lu le {{ date | formatDateFr }} </p>

          {{ content | safe }}

          <a class="btn btn-primary" target="blank" rel="noopener" title="{{nom_source}} - Nouvelle fenêtre" href="{{source}}">Voir "{{title}}" sur {{nom_source}}</a>

         </div>


          <div class="col-lg-6 col-12">
            
          <img class="img-fluid " src="{{ image }}">
             

          </div>

      </div>

      </div>

      


  </div>

  <div class="row">

 

 


  


 
  
  </div>

  </main>

</div>


  {% include "footer.njk" %}

  </div>

</body>
</html> 