---
layout: base
rubriquenom : "Mes dernières lectures"
rubriqueurl : "/lectures/0/"
---


  <main id="main" data-pagefind-body>
 
      <div id="content" class="col-lg-9 mx-auto my-5">
 


<article class="lecture  ">
 

    
    <h1>{{ livre.Nom }}</h1>

    <hr class="my-5">

 <div class="row">

  <div class="col-lg-6 col-12 mr-5">
    
    {% if livre.Auteur %}
      <h2> {{ livre.Auteur }}</h2>
    {% endif %}
    
    {% if livre.Type %}
      <p><em>{{ livre.Type }}</em></p>
    {% endif %}
    
    {% if livre["Lu le"] %}
      <p class="text-muted">Lu le {{ livre["Lu le"] | formatDateFr }}</p>
    {% endif %}
    

 
  
  <section class="mt-4">
    {% if livre.Résumé %}
      {{ livre.Résumé | safe }}
    {% endif %}
  </section>

    {% if livre["En ligne"]  %}
      <p class="mt-5">
        <a href="{{ livre["En ligne"] }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">
          Voir sur Babelio
        </a>
      </p>
    {% endif %}

  </div>

<div class="col-lg-6 col-12">

    {% if livre.id %}
      <img src="/assets/images/lectures/{{ livre.id }}.webp" alt="Couverture de {{ livre.Nom }}" class="img-fluid img-thumbnail">
    {% endif %}
</div>


  </div>

    <nav class="mt-5">
    <a href="/lectures/0/" class="btn btn-primary">← Retour à la bibliothèque</a>
  </nav>

  </div>
  

</article>

      </div>

 

  </main>