<!doctype html>
<html lang="fr" data-bs-theme="light">
    <head>
      <title>{{ site.title }} - {{ title or meta.title }}</title>
       {% include "meta.njk" %}
      </head>
<body>
  <div class="container">


      {% include "header.njk" %}

  <main id="main" data-pagefind-body>
    <div id="content" class="container py-4">

                  <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>
 
      {{ content | safe }}



<div class="row">



 

  {%- for galerie in galeries -%}

  <div class="col-lg-4 col-sm-6 mb-3">
    <div class="card shadow-sm h-100">
      <img src="{{ galerie.thumbnail }}" class="card-img-top" alt="{{ galerie.title }}" loading="lazy">
  <div class="card-body">
    <h3 class="card-title"><a href="{{ galerie.url }}" class="stretched-link">{{ galerie.title }}</a></h3>
    <p class="card-text">{{ galerie.description }}</p>
   <p class="card-text fw-bold">{{ galerie.date | formatDateFr }}</p>
  </div>

</div>
</div>

  {%- endfor -%}


  


 
  
  </div>
  

      
    
 

  </div>

  </main>


  {% include "footer.njk" %}

  </div>

</body>
</html> 