<!doctype html>
<html lang="fr" data-bs-theme="light">
    <head>
      <title>{{ site.title }} - {{ title or meta.title }}</title>
       {% include "meta.njk" %}
      </head>
<body>
  <div class="container">


      {% include "header.njk" %}

  <main id="main">
    <div class="container py-4">
      <div id="content" class="col-lg-9 mx-auto my-5">

      {{ content | safe }}

      <p class="text-end"> Publié le {{ date | formatDateFr }} </p>


  </div>

  </main>

</div>


  {% include "footer.njk" %}

  </div>

</body>
</html> 