<!doctype html>
<html lang="fr" data-bs-theme="light">
    <head>
      <title>{{ site.title }} - {{ title or meta.title }}</title>
       {% include "meta.njk" %}
      </head>
<body>
  <div class="container">

      {% include "header.njk" %}

  <main id="main" data-pagefind-body>



    <div class="container py-4">

          <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            {% if rubriqueurl %}<li class="breadcrumb-item"><a href="{{rubriqueurl}}">{{rubriquenom}}</a></li>{% endif %}
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>

      <div id="content" class="col-lg-9 mx-auto my-5">



      <div id="results"></div>

      {{ content | safe }}

      <p class="text-end"> Publié le {{ date | formatDateFr }} </p>


  </div>

  </main>

</div>


  {% include "footer.njk" %}

  </div>


</body>
</html> 