<!doctype html>
<html lang="fr" data-bs-theme="light">
    <head>
      <title>{{ site.title }} - {{ title or meta.title }}</title>
       {% include "meta.njk" %}
      </head>
<body>
  <div class="container">


      {% include "header.njk" %}


  <main id="main">

<div class="container py-4"> 

  <section aria-labelledby="titre-actualite" class="actualite-a-la-une my-5">
    <h2 id="titre-actualite" class="h4 mb-3">À la une</h2>

    {% if actualite and actualite.length > 0 %}
      <div class="row">
            {% for item in actualite %}
              <div class="  col-lg-4 col-sm-6 mb-3 " >
                <div class="card shadow-sm h-100">
            {% if item.image %} <img src="{{ item.image }}" alt="Photo de {{ item.title }}" class="card-img-top" >{% endif %}
                  <div class="card-body">
                    <h2 class="card-title"><a href="{{ item.url }}" class=" stretched-link">{{ item.title }}</a></h2>
                    {% if item.summary %}<p class="card-text">{{ item.summary }}</p>{% endif %}
                      <p class="card-text fw-bold"> Publié le {{ item.created | formatDateFr }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
        
          {% else %}
            <p>Aucune actualité à la une pour le moment.</p>
          {% endif %}
        </div> 
  </section>

</div>

  <div class="container py-4">
      {{ content | safe }}

  </div>

  </main>


  {% include "footer.njk" %}

  </div>

</body>
</html> 