<!doctype html>
<html lang="fr" data-bs-theme="light">
    <head>
      <title>{{ site.title }} - {{ title or meta.title }}</title>
       {% include "meta.njk" %}
      <link rel="stylesheet" href="{{ '/css/rss.css' }}">
      </head>
<body>
  <div class="container">


      {% include "header.njk" %}


  <main id="main">

    <div class="container py-4">

      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>

      <h2>Flux RSS</h2>

   <div class="row">
    <div class="sidebar col-3" id="sidebar">
     
 
      <ul id="feedList" class="col-12"></ul>
  

    </div>
    <button id="toggleSidebar" class="toggle-btn" aria-label="Afficher ou masquer la liste des flux" aria-expanded="true" aria-controls="sidebar">☰</button>
    <div class="content col-9" id="content">
      <h3 id="feedTitle">Choisir une source pour voir les articles</h3>
      <div id="feedContent"></div>
    </div>
 
    </div>

    <hr>

       <h2>Importer votre fichier OPML</h2>

      <label for="opmlFile" class="visually-hidden">Choisir un fichier OPML à importer</label>
      <input class="btn btn-light" type="file" id="opmlFile" accept=".opml, .xml">
      <button class="btn btn-primary"  id="importBtn">Importer un fichier OPML</button>

  <script src="{{ '/js/app.js' }}"></script>

  </div>

  </main>


  {% include "footer.njk" %}

  </div>

</body>
</html> 